body {
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);
}

div {
    box-sizing: border-box;
}

nav {}

main {

}

a, a:visited {
    text-decoration: none;
    color: white;
}

footer {
    padding: 20px;
    font-size: 1.4em;
    background-color: #374755;
    color: white;
}

input[type=text] {
    font-size: 1.2em;
}

/*
input[type=button], input[type=submit], input[type=reset] {
    background-color: #374755;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.2em;
}
*/