@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
html, body {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
    color: #FFF;
    font-size: 1.2em;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

startscreen, gamescreen, endscreen, background, robot {
    position: absolute;
    display: block;
    box-sizing: border-box;
}

startscreen div, endscreen div {
    font-size: 3em;
    padding-top: 26vh;
    width: 100vw;
    text-align: center;
}

startscreen button, endscreen button {
    font-family: 'VT323', monospace;
    font-size: 1.2em;
    margin-top: 10px;
    margin-left: calc(50vw - 100px);
    background-color: green;
    color: white;
    padding: 12px;
    cursor: pointer;
}

background {
    background-image: url('../img/background.png');
    background-position: top center;
    background-repeat: repeat-x;
    background-color: #B1BF5C;
    width: 100vw;
    height: 100vh;
}

robot {
    background-image: url('../img/robot.png');
    background-repeat: no-repeat;
    width: 80px;
    height: 125px;
    cursor: pointer;
}

robot:hover {
    filter: hue-rotate(90deg);
}