body {
    background-color: #D9E7F4;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

div {
    box-sizing: border-box;
}

h1 {
    font-size: 2.4em;
    margin-top: 0;
}

h1, h2, h3 {
    font-weight: 700;
}

nav {
    display: flex;
    background-color: #374755;
    color: white;
    cursor: pointer;
}

nav div {
    flex-grow: 1;
    text-align: center;
    height: 50px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2.4em;
    transition: all 0.4s ease-out;
}

nav div:hover {
    background-color: #486985;
}

#header-image {
    height: 45vh;
    background-image: url(../images/main.jpg);
    background-size: cover;
    background-position: center;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

section {
    background-color: white;
    padding: 2vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

section img {
    width: 100%;
}

a, a:visited {
    text-decoration: none;
    color: white;
}

footer {
    padding: 20px;
    font-size: 1.4em;
    background-color: #374755;
    color: white;
}

input[type=text], input[type=email] {
    font-size: 1.2em;
}

input[type=text]:invalid, input[type=email]:invalid {
    border: 1px solid red;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #374755;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.2em;
}

@media screen and (max-width: 600px) {
    nav {
        display: block;
    }
}